<!-- Within our taskmanager package, create a new directory called 'templates',
which is where Flask looks for any HTML templates to be rendered. 
We need to render some sort of front-end template to verify that the application is running successfully -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takmanager</title>
</head>
<body>
    
</body>
</html>